@import "includes";

.action {
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: rgba(0, 0, 0, .1);
  }

  svg {
    width: 32px;
    height: 32px;
  }
}
